.container{
    font-size: 2rem;
    display: flex;
}


.container div{
    border: 2px solid black;
    text-align: center;
}

@media screen and (max-width: 300px) {
    body{
        background-color: red;
    }
    .container{
        flex-direction: column;
    }
    .container div{
        flex-grow: 1;
    }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    body{
        background-color: green;
    }
    #small{
        width: 30%;
    }
    #medium{
        width: 60%;
    }
    #large{
        width: 100%;
    }

  }

@media screen and (min-width: 768px) {
    body{
        background-color: blue;
    }
    .container{
        flex-direction: row;
    }
    .container div{
        flex-grow: 1;
    }
}


/*EXCERSIZE 1 & 2 */
/*
@media screen and (max-width: 300px) {
    body{
        background-color: red;
    }
    #medium, #large{
        display: none;
    }
  }

@media screen and (min-width: 300px) and (max-width: 768px) {
    body{
        background-color: green;
    }
    #small, #large{
        display: none;
    }
  }

@media screen and (min-width: 768px) {
    body{
        background-color: blue;
    }
    #small, #medium{
        display: none;
    }
}
*/